<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seig.mapper.EmployeeMapper">

    <sql id="BASE_COLUMN">
        lastname,email,gander,departmentId,birth
    </sql>

    <resultMap id="empMap" type="Employee">
        <id property="id" column="id"/>
        <result property="lastName" column="lastName"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="department.id" column="departmentId"/>
        <result property="department.departmentName" column="departmentName"/>
        <result property="birth" column="birth"/>

    </resultMap>

    <select id="getAllEmployees" resultMap="empMap">
        select * from employee e,department d where e.departmentId=d.id
    </select>

    <select id="getEmployeeByID" parameterType="Integer" resultMap="empMap">
        select * from employee where id=#{id}
    </select>

    <insert id="addEmployee" parameterType="Employee">
        insert into employee(lastName,email,gender,departmentId,birth) values(#{lastName},#{email},#{gender},#{department.id},#{birth})
    </insert>

    <delete id="deleteEmployeeByID" parameterType="Integer">
        delete from employee where id=#{id}
    </delete>

    <update id="updateEmployee" parameterType="Employee">
        update employee set lastName=#{lastName},email=#{email},gender=#{gender},departmentId=#{department.id},birth=#{birth} where id=#{id}
    </update>


</mapper>